@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.logo{
    width: 7rem;
}
.menu{
    font-size: 2rem;
}
.nav{
    background-color: #141414;
    color: gray !important;
    font-family: 'Lato', sans-serif;
}
 
.nav a{
    color: gray !important;
}